@media screen and (max-width: 700px){
    html {
        margin: 0;
        padding: 0;
        font-size: 40%;
   }
    
    .inf_1 {
        left: 5rem;
    }
    
    .inf_2 {
        right: 5rem;
    }   
    
    .less_1 {
        left: 48rem;
    }
    .less_2 {
        right: 48rem;
        top: 108rem;
    }

    .video {
        width: 50rem;
        height: auto;
    }
    h1 {
        top: 45rem;
        left: 43rem;
    }
    .next_head {
        top: 50rem;
        left: 43rem;
    }
    .less_1 {
        z-index: 6;
    }
    .less_2 {
        z-index: 6;
    }
}
/*2nd media device*/


@media screen and (max-width: 595px){

    .sidebar{
        display: none;
    }
    
    
    
    nev::after{
        content: '';
        position: absolute;
        width: 70%;
        height: 80vh;
        background: #000000;
        opacity: .8;
        z-index: 5;
        left: 0;
        top: 0;
    }
    
    nev ul{
        display: grid;
        grid-template-columns: 100%;
        z-index: 10;
    }
    
    nev ul li{
        margin-top: 20rem;
    }
     nev ul li:nth-child(1){
        margin-top: 0;
    }
    
    .services {
        position: absolute;
        top: 45rem;
    }
    
    .header_bg {
        width: 100%;
        right: 0;
    }
    
    h1{
        top: 3rem;
        left: 11rem;
    }
    
    .next_head {
        top: 10rem;
        left: 11rem;
    }
    
    .inf_2 {
        top: 123rem;
    }
    .learn {
        top: 150rem;
        height: 40rem;
    }
    
    .video {
        width: 80%;
        height: auto;
        
    }
    .learn::after, .learn::before {
        width: 20rem;
        
        z-index: 0;
    }
    
    .html {
        top: 196rem;
    }
    
    .css {
        top: 248rem;
    }
    
    .js{
            top: 301rem;
    }
    .css_s , .css_e{
        z-index: 2
    }
    
    .html::before , .css::before , .css::after , .js::after {
        background-attachment: fixed;
    }
    
    nev{
        display: none;
    }
    
    .fa-bars {
        display: inline;
    }
    .mu:hover nev{
        display: block;
    }
    
    
}

