*{
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

.main_p_space_effect {
    width: 20rem;
    height: 40rem;
    position: absolute;
    top: calc(50% - 20rem);
    left: calc(50% - 5rem);
    transform: rotate(-20deg) skew(20deg);
}

.box{
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    transition: all 1s;
}

.main_p_space_effect:hover .box:nth-child(4){
    transform: translate(40px , -50px);
    
}

.main_p_space_effect:hover .box:nth-child(3){
    transform: translate(30px , -40px);
    
}

.main_p_space_effect:hover .box:nth-child(2){
    transform: translate(20px , -30px);
    
}

.main_p_space_effect:hover .box:nth-child(1){
    transform: translate(10px , -20px);
    
}

.main_p_space_effect video , .main_p_space_effect img {
    width: 100%;
    background-size: cover;
}