/*===================*/
/*INITIAL SETUP*/
/*===================*/

* {
    box-sizing: border-box;
}
html {
    font-family: 'Bree Serif', serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}

body{
    margin: 0;
    padding: 0;
    height: 360rem;
    
}

/*===================*/
/* HEAD SECTION */
/*===================*/


.box_head {
    width: 45rem;
    height: 50rem;
    background: #779ba9;
    position: absolute;
    top: 4rem;
    right: 3rem;
    z-index: -1;
}
.header_bg {
    background: url('../img/header_bg.jpg');
    width: 90rem;
    height: 80rem;
    background-size: cover;
    background-position:bottom left;
    position: absolute;
    top: 25rem;
    right: 10rem;
}

h1 {
    position: absolute;
    top: 40rem;
    left: 20rem;
    font-size: 3rem;
    z-index: 1;
}

.next_head {
    max-width: 30rem;
    position: absolute;
    top: 45rem;
    left: 20rem;
    font-size: 1.5rem;;
    z-index: 1;
    text-align: justify;
}


/*===================*/
/* NENIGATION TAB */
/*===================*/

nev{
    z-index: 15;
}
ul{
    position: absolute;
    top: 5rem;
    font-size: 1.5rem;
    z-index: 5;
}
ul li {
    list-style-type: none;
    float: left;
    display: inline-block;
    padding-left: 4rem;
}
ul li a{
    text-decoration: none;
    margin-top: 3rem;
    background: #000;
    padding: 1rem 2rem;
    color: white;
    text-transform: capitalize;
    
}


.services {
    position: absolute;
    background: white;
    margin: 0;
    padding: 0;
    top: -2rem;
}
.services ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    display: none;
}
.services li a{
    margin: 0;
    padding: 0;
    color: green;
    background: white;
    font-size: 1.5rem;
    padding-top: 1rem;
    display: block;
    
}

.services li{
    margin: 0;
    padding: 0;
    width: 15rem;
    border-bottom: .1rem solid black;
    text-align: center;
}
.services_m:hover .services ul{
    display: block;
}
.services li a:hover {
    background: linear-gradient(to right, #039a03,#22ff22);
    color: white;
    
}

.m_nev:hover{
    background: red;
}
/*===================*/
/* SIDE BAR */
/*===================*/

.sidebar {
    width: 3.5rem;
    height: 100vh;
    background: #dedede;
    box-shadow: .2rem 0rem .2rem silver;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
}
.side_bar a i{
    display: block;
    font-size: 2.5rem;
    margin-top: 5rem;
}
.side_bar a {
    text-decoration: none;
}
.side_bar .fa-facebook {
    margin-top: 33vh;
}


.fa-facebook {
    color: #0606b5;
}
.fa-facebook-messenger {
    color:#3100ff;
}
.fa-youtube {
    color: red;
}


.fa-facebook:hover {
    transform: translateX(.6rem) scale(1.5);
    transition: .3s;
}
.fa-facebook-messenger:hover {
    transform: translateX(.6rem) scale(1.5);
    transition: .3s;
}
.fa-youtube:hover {
    transform: translateX(.4rem) scale(1.5);
    transition: .3s;
}



/*===================*/
/* BODY */
/*===================*/
/*Inf Starts*/

.inf_1 {
    position: absolute;
    top: 100rem;
    font-size: 1.8rem;
    width: 40rem;
    text-align: justify;
    border: 2px solid red;
    outline: 5px solid black;
    outline-offset: .5rem;
    left: 10rem;
    background: white;
    overflow: hidden;
    z-index: 4;
    
}

.inf_1:hover::before {
    position: absolute;
    content: "Read more";
    width: 100%;
    height: 100%;
    background: #45ddf8;
    display: inline-block;
    padding: 7rem  13rem;
    font-size: 3rem;
    text-shadow: 1px 1px 0px red , -1px -1px 0px blue;
}
.more_1 {
    display: none;
    
}
.less_1 {
    position: absolute;
    top: 100rem;
    left: 55rem;
    font-size: 1.9rem;
    border: 2px solid red;
    background: red;
    display: none;
}

.inf_2 {
    position: absolute;
    top: 100rem;
    right: 15rem;
    font-size: 1.8rem;
    width: 40rem;
    text-align: justify;
    border: 2px solid red;
    outline: 5px solid black;
    outline-offset: .5rem;
    background: white;
    overflow: hidden;
    z-index: 2;
}

.inf_2:hover::before {
    position: absolute;
    content: "Read more";
    width: 100%;
    height: 100%;
    background: #45ddf8;
    display: inline-block;
    padding: 7rem  13rem;
    font-size: 3rem;
    text-shadow: 1px 1px 0px red , -1px -1px 0px blue;
}
.more_2 {
    display: none;
    
}
.less_2 {
    position: absolute;
    top: 100rem;
    right: 55rem;
    font-size: 1.9rem;
    border: 2px solid red;
    background: red;
    display: none;
}
/*Inf Ends*/
/*Video*/
.learn {
    position: relative;
    top: 121rem;
    width: 100%;
    height: 50rem;
    overflow: hidden;
    background: red;
}

.learn::before{
    content: '';
    position: absolute;
    display: block;
    width: 25rem;
    height: 60rem;
    background: #f0f0f0;
    transform: rotate(20deg);
    box-shadow: .2rem .1rem .2rem rgba(0 , 0 , 0 , .2);
    z-index: 0;
}

.learn::after{
    content: '';
    position: absolute;
    display: block;
    width: 25rem;
    height: 60rem;
    background: #b7b7b7;
    transform: translateX(2rem) rotate(20deg);
    box-shadow: .2rem .1rem .2rem rgba(0 , 0 , 0 , .2);
    z-index: 0;
}
.Power_point {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    transform: translateX(2rem);
    text-shadow: .1rem .2rem .1rem rgba(0 , 0, 0, .5);
}


.video {
    position: absolute;
    right: 5rem;
}
/*Video Ends*/

/*Parts*/
.html{
    position: absolute;
    top: 180rem;
    width: 100%;
    height: 50rem;
    background: blue;
    overflow: hidden;
}

.html::before{
    content: '';
    position: absolute;
    display: block;
    width:50%;
    height: 100%;
    background: linear-gradient(to left  top, #050588 , blue);
    box-shadow: .2rem .2rem .4rem #032060;
    transform: rotate(40deg) translate(-2rem , -2rem);
    z-index: 0;
}
.fa-html5 {
    position: absolute;
    top: 10rem;
    left: 5rem;
    color: white;
    
    font-size: 20rem;
    text-shadow: 0 3rem 2rem rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.css {
    position: absolute;
    top: 235rem;
    width: 100%;
    height: 50rem;
    background: #ff0089;
    overflow: hidden;
}

.css::before {
    content: '';
    width: 100%;
    height: 30rem;
    position: absolute;
    background: linear-gradient(to top left , #d10271 , #fc40a5);
    box-shadow: .2rem .2rem .4rem #910032;
    transform: rotate(-30deg) translate(-20rem , 20rem);
}

.css::after {
    content: '';
    width: 100%;
    height: 30rem;
    position: absolute;
    background: linear-gradient(to top left , #d10271 , #fc40a5);
    box-shadow: .2rem .2rem .4rem #910032;
    transform: rotate(30deg) translate(18rem , -20rem);
}


.fa-css3 {
    position: absolute;
    top: 10rem;
    left: 5rem;
    color: white;
    text-shadow: 0 3rem 2rem rgba(0, 0, 0, 0.3);
    font-size: 20rem;
    z-index: 3;
}







.js {
    position: absolute;
    top: 290rem;
    width: 100%;
    height: 50rem;
    background: #d8d12c;
    overflow: hidden;
}

.js::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 30rem;
    background: #51f5a3;
    border: 0 solid white;
    border-radius: 500rem;
    bottom: -5rem;
    right: -30rem;
    box-shadow: -.2rem -.2rem .4rem #9f8706;
    
}

.js::after {
    content: '';
    position: absolute;
    width: 20rem;
    height: 20rem;
    border: 0 solid white;
    border-radius: 10rem;
    background: yellow;
    top: -2rem;
    box-shadow: .2rem 0rem #8d8d0d;
}


.fa-js {
    position: absolute;
    top: 10rem;
    left: 5rem;
    color: white;
    text-shadow: 0 3rem 2rem rgba(0, 0, 0, 0.3);
    font-size: 20rem;
    z-index: 3;
}

.t {
    color: white;
    font-size: 4rem;
    position: absolute;
    left: 24rem;
    top: 17rem;
    text-shadow: .1rem .2rem rgba(0, 0, 0, 0.4);
}
.a {
    top: 12rem;
    text-transform: uppercase;
}

/*===================*/
/* FOOTER */
/*===================*/

footer {
    width: 100%;
    height: 50vh;
    background: #f0f0f0;
    position: absolute;
    top: 345rem;
    
}

footer h2 {
    text-align: center;
    color: coral;
    font-size: 3rem;
}

footer a{
    display: block;
    text-align: center;
    
}

footer form {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 2rem;
}

